/**
!/app
!/bin
!/config
!/docker
!/db
!/lib
!/public
!/vendor
/vendor/bundle
!/Gemfile*
!/config.ru
!/nabu.graphql
!/Rakefile

!/solr/solr.xml
!/solr/zoo.cfg
!/solr/configsets
!/solr/production/core.properties
!/solr/staging/core.properties
