/**
!/app
!/bin
!/config
!/docker
!/db
!/lib
!/public
!/vendor
/vendor/bundle
!/Gemfile*
!/config.ru
!/nabu.graphql
!/Rakefile

!solr
/solr/default
/solr/development
/solr/mycores
/solr/test
/solr/pids
