%h3 List of Paths
.panel_contents
  %table
    %tr
      %th For
      %th Directory
    %tr
      %td Archive
      %td= "S3 via #{Rails.configuration.proxyist_url}"
    %tr
      %td Upload Location
      %td
        = Rails.env.production? ? 's3://paragest-ingest-prod/incoming' : 's3://paragest-ingest-stage/incoming'
