#licence-footer
  %a{rel: 'license', href: 'http://creativecommons.org/licenses/by-nc-sa/4.0/'}
    %img{alt: 'Creative Commons License', style: 'border-width:0', src: 'https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png'}
  %p
    #{all_work ? 'All catalog entries contained in this site are' : 'This catalog entry is'} licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank
    ">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    Data files are covered by the <a href="http://www.paradisec.org.au/deposit/access-conditions/">PARADISEC Access Conditions</a>. 
  %p The moral rights of the performers are asserted.
