- languages.each do |language|
  = render partial: 'languages/language_row', locals: {language: language}
- if languages.any?
  %small
    %em To view related information on a language, click its name