
%h1 Nabu

.twoup-1
  .page-box

    %h4
      Welcome to the catalog of the
      %b PARADISEC
      collection.

  .page-box

    %h4 What material does this collection contain?

    %p.indent
      %b PARADISEC
      (Pacific And Regional Archive for DIgital Sources in Endangered Cultures) curates digital material about small or endangered languages.

  .page-box

    %h4 Who runs this site?

    %p.indent
      %b PARADISEC
      has been developed since 2003 by a consortium of Australian researchers from the University of Sydney, the University of Melbourne and the Australian National University.

    %p.indent
      See the
      =link_to 'PARADISEC website', 'http://paradisec.org.au'
      for further details.

.twoup-2

  .page-box

    %h4 What can I do on this site?

    %p.indent
      You can search by
      =link_to 'collections', 'collections'
      or by
      =link_to 'items.', 'items'

    %p.indent
      If you would like to deposit material in this collection, you will need to
      =link_to 'sign up.', 'users/sign_up'

    %p.indent
      Please refer to the
      =link_to "PARADISEC depositor's page", 'http://www.paradisec.org.au/deposit.html'
      for more information.

  .page-box

    %h4 What system runs this site?

    %p.indent
      Nabu is a media management system that provides a catalog of items, metadata for these items, and information about the workflow status of the items. It also provides access, where possible, to those items.

    %p.indent
      'Nabu' is a word in the South Efate language for 'road', as a connector of various locations.

    %p.indent
      = link_to 'PARADISEC', 'http://http://www.paradisec.org.au/'
      (Pacific And Regional Archive for DIgital Sources in Endangered Cultures) developed the Open Source system 'Nabu' in 2012 with funding from the Australian Research Council LIEF (Linkage Infrastructure Equipment and Facilities) scheme (LE11000142).

    %p.indent
      The source code can be found on
      = link_to 'GitHub.', 'https://github.com/nabu-catalog/nabu'
