
%h1 Nabu

.page-box
  %p Nabu is a digital media item management system that provides a catalog of audio and video items, metadata for these items, and information about the workflow status of the items.

  %p 'nabu' is a word in the South Efate language for 'road', as a connector of various locations.

  %p
    = link_to 'PARADISEC', 'http://http://www.paradisec.org.au/'
    (Pacific And Regional Archive for DIgital Sources in Endangered Cultures) developed the system.

  %p
    Nabu is Open Source and can be found on 
    = link_to 'GitHub.', 'https://github.com/nabu-catalog/nabu'