
%h1 Nabu

.page-box
  %p nabu is a digital media item management system that provides a catalog of audio and video items, metadata for these items, , and information about the workflow status of the items.

  %p nabu is a word in the South Efate language for 'road', as a connector of various locations.

  %p
    The
    = link_to 'PARADISEC', 'http://http://www.paradisec.org.au/'
    Archive (Pacific and Regional Archive for Digital Sources in Endangered Cultures) developed the system.

  %p
    nabu is Open Source and can be found on 
    = link_to 'GitHub', 'https://github.com/nabu-catalog/nabu'

