
%h1 Contact PARADISEC

.page-box
  %p
    =link_to 'Email: admin@paradisec.org.au', 'mailto:admin@paradisec.org.au'

.page-box
  %p
    %b Postal Address:
    %br
    Sydney Conservatorium of Music, C41
    %br
    The University of Sydney
    %br
    NSW 2006
    %br
    AUSTRALIA

.page-box
  %p
    %b Phone:
    + 61 (0)2 9351 1279
  %p
    %b Fax:
    + 61 (0)2 9351 1287

