
%h1 PARADISEC catalog glossary

.page-box
  %p
    Here's a summary of the special terms used in the various listing pages of the PARADISEC catalog website.

  %p
    The archive is organised into
    %b collections
    which contain one or more
    %b items,
    each of which contains one or more
    %b essence files.
    %ul
      %li
        %b Collections
        are organised around a single theme, such as a single trip of a collector.
      %li
        %b Items
        refer to a single document, event or recording.
      %li
        %b Essence files
        are the individual files that belong to an item.
    %b Metadata
    is associated with collections, items, and individual files.

%h2 Terms used in catalog listings

.page-box

  %h3 collection
  %p The name of a catalog collection, e.g. ABC1. Click on the collection name to view the metadata and items in that collection viewable by your username.

  %h3 item
  %p The name of a catalog item, e.g. ABC1-001. Click on the item name to view the metadata and files in that collection viewable by your username.

  %h3 file / essence
  %p The name of a catalog file, e.g. ABC1/001/ABC1-001-A.wav. Click on the file name to view the embedded metadata of that file. If you have the rights, you may also view and/or download the file.

  %h3 size
  %p The size of a collection, item, file or a group of collections, items or files. In the PARADISEC catalog sizes are measured in kilobytes (“KB”, 1024 bytes), megabytes (“MB”, 1024 kilobytes), gigabytes (“GB”, 1024 megabytes) and terabytes (“TB”, 1024 gigabytes).

  %h3 duration
  %p The playing time of a media file or a collection of those files in an item or collection. Playing times are shown in the format HH:MM:SS.SSS — that is, hours, minutes, seconds and fractional seconds.

  %h3 last modified
  %p The time that a file, collection or item was last changed in the PARADISEC catalog. Last modified times are shown in the ISO 8601 date format—that is, YYYY-MM-DD HH:MM +TIMEZONE.

  %h3 type
  %p Files in the PARADISEC catalog are recognized by file “type” — for example, “audio”, “video”, “image” etc.

  %h3 embedded metadata
  %p Most classes of files stored in the PARADISEC catalog contain some embedded metadata — that is, metadata stored in the file itself.

  %h3 catalog metadata
  %p Collections and items in the PARADISEC catalog have metadata recorded.
