%h1 TLC Map Tests

%h2 All Collections - Cluster
%iframe{src: "https://views.tlcmap.org/cluster.html?load=https%3A%2F%2Flocalhost:3000%2Fcollections.geo_json", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 All Collections - 3D
%iframe{src: "https://views.tlcmap.org/3d.html?load=https%3A%2F%2Flocalhost:3000%2Fcollections.geo_json", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 All Collections - Timeline
%iframe{src: "https://views.tlcmap.org/timeline.html?load=https%3A%2F%2Flocalhost:3000%2Fcollections.geo_json", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 NT1 - Cluster
%iframe{src: "https://views.tlcmap.org/cluster.html?load=https%3A%2F%2Flocalhost:3000%2Fcollections/NT1.geo_json", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 NT1 - 3D
%iframe{src: "https://views.tlcmap.org/3d.html?load=https%3A%2F%2Flocalhost:3000%2Fcollections/NT1.geo_json", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 NT1 - Timeline
%iframe{src: "https://views.tlcmap.org/timeline.html?load=https%3A%2F%2Flocalhost:3000%2Fcollections/NT1.geo_json", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }
