%p Hi #{@user_name},
%br
%p The export you started on #{@start_time.strftime('%a %e %b %Y %l:%M %P')} is now complete.
%p Please find attached a CSV file containing the #{@total} items that you requested.
%br
%br
%small
  %em This is an automated email, please do not reply. 
