# Do not commit real values!
# use
#   git update-index --assume-unchanged config/config.yml
# to ignore your changes

common: &common
  doi_prefix:
  datacite_base_url:
  datacite_user:
  datacite_pass:

development:
  <<: *common

test:
  <<: *common
