-item ||= @item
-content_for :collection_details do
  %collection
    =render partial: 'collections/core_fields.xml', locals: {collection: item.collection}

=render template: 'items/show', formats: [:xml], handlers: [:haml], locals: {item: item}