%h2 Bulk item update completed

%p
  %b
    Edit made on:
  =@start_time.strftime('%a %d/%m/%Y %T')
%p
  %b
    Total items:
  =@items_count

-if @failed_items.any?
  %h3 Failed items
  %table
    %thead
      %th Item ID
      %th Problems
    %tbody
      -@failed_items.each do |item|
        %tr
          %td=item.full_identifier
          %td
            -if item.errors.present?
              %ul
                -item.errors.full_messages.each do |error_msg|
                  %li=error_msg

-else
  %p All items have been updated successfully
