// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

// Main layout grid, override these constants to build your grid and container sizes.
// The width shown gives the right floored percentage values.
$blueprint-liquid-grid-columns: 24;
$blueprint-liquid-container-width: 90%;
$grey: #20538D;

