%div
  = paginate comments

%ul#comments
  - unless comments.empty?
    = render :partial => 'opinio/comments/comment', :collection => comments
  - else
    #no_comments= t 'opinio.no_comments_found', :default => "No comments available"

%div
  = paginate comments
