body.bp {
  font-family: normal Verdana, Tahoma, sans-serif;

  a {
    color: $grey;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #06C;
  }

  p {
    margin: 0 0 0.5em;
  }

  p.indent {
    margin: 0 0 0.5em 2.5em;
  }

  p.bold {
    font-weight: bold;
  }

  th, td {
    padding: 0px 2px 0px 2px;
  }

  th {
    white-space: nowrap;
  }

  td.nowrap {
    white-space: nowrap;
  }

  #container {
    overflow: visible;
  }

  #header {
    padding-bottom: 10px;
    .name {
      font-size: 4em;
    }
    .auth {
      font-size: 16px;
      padding-top: 10px;
      .inner {
        float: right;
      }
    }
  }

  #nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 36px;
    width: 100%;
    background: #617798;
    #menu {
      @include horizontal-list(0px);
      font-size: 18px;
      height: 36px;
      li {
        border-width: 0 2px 0 1px;
        display: block;
        line-height: 32px;
        float: left;
        a {
          display: block;
          height: 34px;
          background: #617798;
          border: solid 1px $grey;
          color: white;
          padding: 0 80px 0 40px;
          &:hover, &:focus {
            background: #356094;
          }
          &:active {
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
          }
          &.active {
            background: $grey;
          }
        }
      }
      li:last-child {
        text-align: right;
        display: block;
        float: right;
      }
    }
  }

  #content {
    margin-top: 5px;
    min-height: 400px;
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
      width: 100%;
    }
    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  #actions {
    margin-bottom: 15px;
  }

  #footer {
    margin-top: 20px;
  }

  $blue: #e5ecf9;
  $page_background: $blue;
  $table_header_bg: darken($blue, 25);
  $table_row_odd: darken($blue, 10);
  $table_row_even: $blue;

  #flash {
    padding-top: 10px;
    .undo {
      color: blue;
      text-decoration: underline;
    }
  }

  .field_with_errors {
    padding: 2px;
    background: red;
    display: table;
  }

  #admin-messages {
    display: inline-block;
    border: 2px solid #fbc2c4;
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  #admin-messages.admin-messages-empty {
    display: none;
  }

  #error_explanation {
    width: 450px;
    border: 3px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      background: #c00;
      color: #fff;
    }
    ul li {
      list-style: square;
    }
  }

  fieldset, .page-box {
    background: #EEE;
    padding: 10px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    legend {
      font-size: 18px;
      text-shadow: grey 2px 2px 3px;
    }
  }

  .page-box.terms-and-conditions strong {
    display: block;
    margin-top: 1rem;
  }

  .collection_map {
    border: 1px solid grey;
    width: 100%;
  }

  table.table {
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px;
    margin-bottom: 5px;
    word-break: break-word;

    th {
      background: #617798;
      color: white;
      font-weight: normal;
    }

    tr {
      background: whiteSmoke;
    }

    td, th {
      border-bottom: #000 solid 1px;
    }

    td:nth-child(1), th:nth-child(1) {
      border-left: none;
    }

    th span.ui-icon {
      float: right;
    }

    th.sortable {
      &:after {
        content: " ▲▼"
      }
      &.current {
        &[data-direction="asc"]:after {
          content: " ▼"
        }
        &[data-direction="desc"]:after {
          content: " ▲"
        }
      }
    }

    td {
      a {
        padding: 0px 5px;
      }
    }
  }

  table.form {
    margin-bottom: 0;
    overflow-x: scroll;
    word-break: break-word;
    td {
      vertical-align: top;
      min-width: 50px;

      .map {
        width: 100%;
        border: 1px solid grey;
      }

      &.missing {
        font-style: italic;
        color: red;
      }

      &.append {
        line-height: 1.0;
        padding-top: 0px;
      }

      div {
        input {
          margin-right: 10px;
        }
      }
      span.no-map-match-message {
        color: red;
      }
    }

    th {
      text-align: right;
      vertical-align: top;
      label:after {
        content: ":"
      }
      max-width: 200px;
      min-width: 100px;
    }

    select {
      width: 100%;
      height: 28px;
      padding: 4px 0;
      border: solid 1px #E5E5E5;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
      background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
      background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    }

    select.bool {
      width: auto;
    }
  }

  table.form.show {
    border-spacing: 5px;
    td {
      background: white;
      padding: 4px;
    }
    td.empty {
      background: transparent;
    }
  }

  input[type="text"], input[type="email"], input[type="password"],
  textarea, td .select2-container {
    &.short {
      width: 200px;
    }
    &.middle {
      width: 400px;
    }
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    &:hover, &:focus {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
    }
    &:focus {
      border-color: #617798;
    }
    .search-field input {
      height: 24px;
    }
  }

  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 7px;
    margin: 0 7px 0 0;
    &#search {
      width: 300px;
    }
  }

  td div.select2-container {
    border: solid 2px #E5E5E5;
    width: 100% !important;
  }

  input[type="submit"], button, .button {
    width: auto;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 16px;
    background: #617798;
    border: solid 1px $grey;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    &:hover, &:focus {
      background: #356094;
    }
    &:active {
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    }
  }

  a.button {
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
    display: inline-block !important;
  }

  .clear {
    clear: both;
  }

  .pagination {
    margin-top: 5px;
    margin-bottom: 5px;
    span {
      padding: 0px 5px;
    }
  }

  #statistics tr td:first-child {
    text-align: right;
  }

  // audio / video
  #media_item {
    text-align: center;
    img, video {
      width: 90%;
      border: 5px solid black;
    }
  }

  // comments
  #no_comments {
    font-style: italic;
  }
  .comment_body {
    font-family: 'Lucida Console', monospace;
    input[type="submit"], button, .button {
      float: right;
    }
  }
  .comment_who {
    font-style: italic;
  }

  // datepicker
  .ui-datepicker {
    table {
      font-size: 0.8em;
    }
    .ui-datepicker-calendar {
      margin-bottom: 5px;
    }
  }

  .no-empty-submit {
    padding: 0 5px;
  }

  #facets {
    .fix-scroll-height {
      overflow: auto;
      height: 200px;
      overflow-x: hidden;
    }
    td {
      width: 20%;
    }
    fieldset {
      background: whiteSmoke;
    }
  }

  // select2
  .select2-container {
    min-width: 200px;
  }
  .select2-container-multi .select2-choices .select2-search-field input {
    height: 23px;
  }

  td li.select2-search-choice a {
    padding-left: 0px;
  }

  .invisible {
    visibility: hidden;
  }

  .separated-message {
    border-top: 1px solid #BBBBBB;
    margin-top: 0.3rem;
    padding: 0.3rem;
    text-align: center;
  }

  .delete-warning {
    border: 2px solid #88001a;
    padding: 0.2rem;
    text-align: center;
  }

  .grant {
    display: block;
    border-top: 1px solid #ccc;
    .grant-name {
      display: block;
    }
    .grant-ids {
      font-style: italic;
      .grant-id {
        display: inline-block;
        margin: 0.2rem;
        a {
          padding: 0;
        }
      }
    }
  }

  #funding-bodies {
    input {
      width: 85%;
      height: 1.2rem;
      font-size: 14px;
    }
    a {
      cursor: pointer;
      &.row-action {
        font-weight: bold;
        position: absolute;
        right: 0.4rem;
        top: 0.1rem;
      }
      &.remove {
        color: #cc0000;
        &:hover {
          color: #dd1100;
        }
        &:active {
          color: #bb0033;
        }
      }
    }
    div, span {
      position: relative;
      &.grant-fields {
        display: block;
        margin-top: 0.5rem;
        padding: 0 0.4rem;
      }
    }
    > div {
      border: 1px solid black;
      border-radius: 3px;
      margin: 0.4rem 0.2rem;
      padding: 0.2rem 0.4rem;
      > span:first-child {
        width: 100%;
        display: inline-block;
        margin-bottom: 0.2rem;
        border-bottom: 1px solid #aaa;
      }
    }

    .grant-id {
      padding: 0.2rem 0;
      span {
        font-style: italic;
      }
    }
  }

  #licence-footer {
    clear: both;
    text-align: center;
    padding-top: 1.5rem;
  }

  .report-sender-form {
    input[type='submit'] {
      margin-left: 40px;
    }
  }

  // access condition status icons
  span.access {
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: small;
    margin: 1px;
    width: 37px;
    &.open {
      background-color: #50b855;
      border-color: #1c800c;
      &:before {
        content: "open";
        margin-left: 4px; //centre this a bit
      }
    }
    &.closed {
      background-color: #db5750;
      border-color: #9d0000;
      &:before {
        content: "closed";
      }
    }
    &.other {
      background-color: #6e6e6e;
      border-color: #000000;
      &:before {
        content: "other";
        margin-left: 3px; //centre this a bit
      }
    }
  }

  .minwhitespace {
    margin: 0 !important;
    padding: 0 !important;
  }
}
