body.bp {
  a {
    text-decoration: none;
  }
}

// TODO move these to partials
#header {
  .name {
    font-size: 4em;
  }
  .auth {
    font-size: 2em;
    padding-top: 10px;
    .inner {
      float: right;
    }
  }
}

#nav {
  #menu {
    padding-left: 10px;
    border: #000 solid 4px;
    ul {
      @include horizontal-list(30px);
      font-size: 2em;
    }
  }
}

#content {
  margin-top: 20px;
  min-height: 400px;
}

#footer {
  margin-top: 20px;
}

.page {
  border: #000 solid 4px;
  background: #e5ecf9;
  padding-top: 10px;
  padding-left: 10px;
}

#flash {
  padding-top: 10px;
}
