body.bp {
  font-family: normal Verdana, Tahoma, sans-serif;

  a {
	color: #20538D;
    text-decoration: none;
  }
  a:hover, a:focus {
	color: #06C;
  }

  p {
    margin: 0 0 0.5em;
  }

  // TODO move these to partials
  #container {
    overflow: visible;
  }
  #header {
    padding-bottom: 10px;
    .name {
      font-size: 4em;
    }
    .auth {
      font-size: 16px;
      padding-top: 10px;
      .inner {
        float: right;
      }
    }
  }

  #nav {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 36px;
    width: 100%;
    background: #617798;
    #menu {
      @include horizontal-list(0px);
      font-size: 18px;
      height: 36px;
      li {
        border-width: 0 2px 0 1px;
        display: block;
        line-height: 32px;
        float: left;
        a {
          display: block;
          height: 34px;
          background: #617798;
          border: solid 1px #20538D;
          color: white;
          padding: 0 80px 0 40px;
          &:hover, &:focus {
            background: #356094;
          }
          &:active {
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
          }
          &.active {
            background: #20538D;
          }
        }
      }
      li:last-child {
        text-align: right;
        display: block;
        float: right;
      }
    }
  }

  #content {
    margin-top: 5px;
    min-height: 400px;
    h1, #item_title, #collection_title {
      font-size: 20px;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  #actions {
    margin-bottom: 15px;
  }

  #footer {
    margin-top: 20px;
  }

  $blue: #e5ecf9;
  $page_background: $blue;
  $table_header_bg: darken($blue, 25);
  $table_row_odd: darken($blue, 10);
  $table_row_even: $blue;

  #flash {
    padding-top: 10px;
  }

  .field_with_errors {
    padding: 2px;
    background: red;
    display: table;
  }

  #error_explanation {
    width: 450px;
    border: 3px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      background: #c00;
      color: #fff;
    }
    ul li {
      list-style: square;
    }
  }

  fieldset, .page-box {
    background: #EEE;
    padding: 10px;
    margin-bottom: 8px;
    legend {
      font-size: 18px;
      text-shadow: grey 2px 2px 3px;
    }
  }

  table.table {
    box-shadow: rgba(0,0,0, 0.1) 2px 2px 3px;

    th {
      background: #617798;
      color: white;
      font-weight: normal;
    }

    tr {
      background: whiteSmoke;
    }

    td, th {
      border-bottom: #000 solid 1px;
    }

    td:nth-child(1), th:nth-child(1) {
      border-left: none;
    }

    th span.ui-icon {
      float: right;
    }

    th.sortable {
      &:after { content: " ▲▼"}
      &.current{
        &[data-direction="asc"]:after { content: " ▼"}
        &[data-direction="desc"]:after { content: " ▲"}
      }
    }

    td {
      a {
        padding: 0px 5px;
      }
      .map {
        width: 100px;
        height: 70px;
      }
    }
  }

  // scrollable tables
  .fht-table-wrapper {
    box-shadow: rgba(0,0,0, 0.1) 2px 2px 3px;
    margin-bottom: 10px;

    table.fht-table {
      border-bottom: #000 solid 1px;
      margin-bottom: 0;
      thead th {
        background: #617798;
        color: white;
        font-weight: normal;
      }
    }
    table.fht-table-init {
      border: none;
    }
  }
  // TODO fix the headertable.js jquery plugin to deal with size change.
  // This is a terrible hack.
  .small_table {
    font-size: 11px;
    .fht-thead table.fht-table {
      width: 569px;
    }
    table.fht-table-init {
      margin-top: -44px !important;
    }
  }

  table.form {
    margin-bottom: 0;
    td {
      vertical-align: top;
      min-width: 200px;

      .map {
        width: 100%;
        height: 200px;
        border: 1px solid grey;
      }

      a {
        padding-left: 10px;
      }
    }

    th {
      text-align: right;
      vertical-align: top;
      min-wdith: 200px;
      &:after { content: ":" }
    }

    select {
      width: 295px;
      height: 28px;
      padding: 4px 0;
      border: solid 1px #E5E5E5;
      box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
      background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
      background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    }
  }

  table.form.show {
    border-spacing: 5px;
    td {
      background: white;
      padding: 4px;
      min-width: 200px;
    }
    td.empty {
      background: transparent;
    }
  }

  input[type="text"], textarea, td div ul.chzn-choices {
    &.short {
      width: 200px;
    }
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    &:hover, &:focus {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
    }
    &:focus {
      border-color: #617798;
    }
  }

  input[type="text"], textarea {
    width: 281px;
    padding: 7px;
    margin: 0 7px 0 0;
  }

  td div.chzn-container {
    border: solid 2px #E5E5E5;
  }

  input[type="submit"], button, .button {
    width: auto;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 16px;
    background: #617798;
    border: solid 1px #20538D;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    &:hover, &:focus {
      background: #356094;
    }
    &:active {
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    }
  }

  a.button {
    color: #FFFFFF;
    display: inline-block;
    height: 32px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clear {
    clear: both;
  }

  .citation {
    font-size: 12px;
    font-style: italic;
    width: 295px;
  }

  .pagination {
    margin-top: 5px;
    margin-bottom: 5px;
    span {
      padding: 0px 5px;
    }
  }

  #statistics tr td:first-child {
    text-align: right;
  }

  // audio / video
  #media_item {
    height: 200px;
    margin: 8px;
    border: 2px solid grey;
    text-align: justify;
  }
  
  // comments
  #no_comments {
    font-style: italic;
  }
  .comment_body {
    font-family: 'Lucida Console',monospace;
    input[type="submit"], button, .button {
      float: right;
    }
  }
  .comment_who {
    font-style: italic;
  }

  // tabs for items show page
  .tabs {
  	padding: 0px;
  	background: none;
  	border: none;
  	font: inherit;

    .ui-tabs-nav {
      padding-left: 0px;
      background: transparent;
      border: none;
      li {
        margin: 0.6em 5px 0 0;
      	font-size: 80%;
	    top: 3px;
        border-bottom: 1px solid black;
      }
      li.ui-tabs-selected {
      	margin-top: 0em;
      	font-size: 100%; 
      	border-bottom: none; 
        a {
          color: black;
          font-weight: normal;
        }
      }
    }

    .ui-tabs-nav .tab {
      padding-left: 0px;
      background: #EEE;
      border: none;
    }

    .ui-tabs-panel {
      border-top: none;
      background: #EEE;
      padding: 10px;
      margin-bottom: 8px;
    }

    .ui-corner-all, .tabs .ui-corner-bottom {
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
    }
  }
  
  // datepicker
  .ui-datepicker {
    table {
      font-size: 0.8em;
    }
    .ui-datepicker-calendar {
      margin-bottom: 5px;
    }
  }

  .no-empty-submit {
    padding: 0 5px;
  }

  #facets {
    .fix-scroll-height {
      overflow: auto;
      height: 200px;
      overflow-x: hidden;
    }
    td {
      width: 20%;
    }
    fieldset {
      background: whiteSmoke;
    }
  }

} // body.bp
