
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.bp {
  #container {
    @include container;
  }
  #header, #nav, #footer, #flash, #admin-messages {
    @include column($blueprint-grid-columns);
  }
  #content {
    @include column($blueprint-grid-columns);
    overflow: visible;
  }

  #header {
    .logo { @include column(4); }
    .name { @include column(12); }
    .auth { @include column(8, last); }
  }
}

.twoup-1 {
  @include column(12);
  // needs to be "visible" to avoid cutting off 'select2' dropdowns
  overflow: visible;
}

.twoup-2 {
  @include column(12, last);
  overflow: visible;
}

body.bp ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

body.bp .input-inline {
  padding: 0;
  margin: 0;
  position: relative;
  height: 30.8px;
  .head {
    display: table-cell;
    vertical-align: middle;

    width: 30%;
    max-width: 30%;
    height: 30.8px;
  }
  input {
    display: inline-block;
    &.tail {
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      max-width: 70%;
      margin: 0;
    }
  }
}

