
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.bp {
  #container {
    @include container;
  }
  #header, #nav, #footer, #flash, #admin-messages {
    @include column($blueprint-grid-columns);
  }
  #content {
    @include column($blueprint-grid-columns);
    overflow: visible;
  }

  #header {
    .logo { @include column(4); }
    .name { @include column(12); }
    .auth { @include column(8, last); }
  }
}

.twoup-1 {
  @include column(12);
  // needs to be "visible" to avoid cutting off 'select2' dropdowns
  overflow: visible;
}

.twoup-2 {
  @include column(12, last);
  overflow: visible;
}

body.bp ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

body.bp .input-inline {
  padding: 0;
  margin: 0;
  position: relative;
  height: 30.8px;
  .head {
    display: table-cell;
    vertical-align: middle;

    width: 30%;
    max-width: 30%;
    height: 30.8px;
  }
  input {
    display: inline-block;
    &.tail {
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      max-width: 70%;
      margin: 0;
    }
  }
}


.drawer {
  overflow: hidden;

  &.closed {
    height: 0;
  }
}

.pagination-container {
  > * {
    display: inline-block;
  }

  .pagination {
    a {
      padding: 5px;
      margin: 2px 0;
      &.next_page, &.previous_page {
        padding: 2px;
        margin: 2px;

      }
    }
    .current {
      font-weight: bold;
      font-style: normal;
    }
  }

  .next_page, .last_page, .previous_page, .first_page {
    padding: 2px;
    margin: 2px;
    border: 1px solid rgba(200,200,200,0.5);
    border-radius: 4px;
    line-height: 1.2;
    &.disabled {
      border: none;
      &:hover {
        border: none;
        background: inherit;
      }
    }
    &:hover {
      border: 1px solid rgba(200,200,200,1);
      background: rgba(200,200,200,0.5);
    }
  }

}