<p>Welcome <%= @resource.unconfirmed_email %>!</p>

<p>You have just signed up for an account with the PARADISEC catalog.</p>

<p>Before you can log into the system, we require you to confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>If you are unable to click on the link, copy and paste this into your browser, to confirm your account:</p>

<p><% confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Once you have confirmed your account you can log in here:</p>

<p><%= link_to 'http://catalog.paradisec.org.au/'%></p>

<p>===</p>
<p>PARADISEC (Pacific And Regional Archive for DIgital Sources in Endangered Cultures)</p>