<p>Hello <%= @resource.name %>!</p>

<p>Someone has requested to change your password on your PARADISEC catalog account. You can change your password at the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you are unable to click on the link, copy and paste this into your browser:</p>

<p><%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>===</p>
<p><%= link_to 'PARADISEC (Pacific And Regional Archive for DIgital Sources in Endangered Cultures)', 'http://catalog.paradisec.org.au/'%></p>
