!!! html5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %style
      -# Email styles need to be inline

  %body
    = yield

    %p ===
    %p= link_to 'PARADISEC (Pacific And Regional Archive for DIgital Sources in Endangered Cultures)', 'http://catalog.paradisec.org.au/'
